@import '../../../styles.scss';

button {
  width: max-content;
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  color: transparent;
  background: $linear-btn;
  background-clip: text;
  box-shadow: -1px 1px 0 0 #80FEF7, 1px -1px 0 0 #FFCEA8, 0 0 0 1px #C3A6FC;
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    color: white;
    box-shadow: 0 0 2rem 1px #C3A6FC;
    text-shadow: -1rem 0 1rem #c3a6fc, 1rem 0 1rem #c3a6fc;
  }
}
