@import '../../styles.scss';

* {
  color: white;
  font-size: 1rem;
}

.container {
  @include cont(4.5rem, $black-russian);
}

nav {
  @include page(inherit);
  justify-content: space-between;

  div {
    @extend %flex;
    gap: 2rem;

    select {
      text-align: center;
      background: $black-russian;
      border: none;
      cursor: pointer;
    }

    a:hover {
      color: transparent;
      background: $linear-btn;
      background-clip: text;
    }
  }
}
