@import '../../styles.scss';

* {
  color: white;
  font-size: 1rem;
}

.row {
  height: 4.5rem;
  background-color: $black-russian;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .row {
      gap: 2rem;

      select {
        text-align: center;
        background: $black-russian;
        border: none;
        cursor: pointer;
      }

      a:hover {
        color: transparent;
        background: $linear-btn;
        background-clip: text;
      }
    }
  }
}
