<div class="container">

  <nav>
    <!-- Logo -->
    <a href="https://falovic.github.io/new-zealand-casino/"><img
        src="https://raw.githubusercontent.com/falovic/new-zealand-casino/master/src/assets/svg/logo.svg"></a>

    <!-- Buttons -->
    <div>
      <btn-white>ONLINE CASINO</btn-white>
      <select>
        <ng-container *ngFor="let casino of casinos">
          <option>{{casino}}</option>
        </ng-container>
      </select>
      <a href="">New Danish Casinos</a>
      <a href="">Payment Methods</a>
      <btn-color>SIGN UP NOW</btn-color>
    </div>
  </nav>

</div>
