@import '../../styles.scss';

// Container
.container {
  @include cont(auto, $black-russian);
  flex-direction: column
}

// Hero 1
.hero1 {
  @include page($linear-bg);
  padding: 0 2rem;
  border-radius: 0 0 0.5rem 0.5rem;

  .content {
    display: inherit;
    flex-direction: column;
    gap: 2rem;

    .ref {
      display: inherit;
      gap: 1rem;

      span {
        border: 1px solid $lavender;
        border-radius: 1rem;
        padding: 0 1rem;
      }
    }
  }
}

// Hero 2
.hero2 {
  @include page($black-russian);
  justify-content: space-around;
  padding: 2rem;

  .content {
    display: inherit;
    flex-direction: column;
    gap: 2rem;

    .coin {
      display: inherit;
      gap: 1rem;

      img:hover {
        filter: sepia();
      }
    }
  }
}
