<div class="container">

  <!-- Hero 1 -->
  <section class="hero1">
    <div class="content">
      <h1>THE BEST CASINOS ONLINE</h1>
      <p>Risus vestibulum sem feugiat posuere amet, congue magn sapien. Amet odio dictum faucibus pharetra sem pulvinar
        augue aliquet. Lacus, facilisis in aliquet iaculis sodales pret. Lorem ipsum dolor.</p>

      <btn-color>PLAY NOW</btn-color>

      <div class="ref">
        <span><img src="{{svgithub}}ref-white1.svg"></span>
        <span><img src="{{svgithub}}ref-white2.svg"></span>
        <span><img src="{{svgithub}}ref-white3.svg"></span>
      </div>
    </div>

    <div><img src="{{svgithub}}hero1.svg"></div>
  </section>

  <!-- Hero 2 -->
  <section class="hero2">
    <div><img src="{{svgithub}}hero2.svg"></div>

    <div class="content">
      <div>
        <h2>50% BONUS <br> UP TO 5 mBTC</h2>
        <h3>+ 45 Free spins</h3>
      </div>

      <btn-color>DEPOSIT</btn-color>

      <div class="coin">
        <img src="{{svgithub}}coin-eth.svg">
        <img src="{{svgithub}}coin-btc.svg">
        <img src="{{svgithub}}coin-ltc.svg">
        <img src="{{svgithub}}coin-doge.svg">
        <img src="{{svgithub}}coin-usdt.svg">
        <img src="{{svgithub}}coin-xrp.svg">
        <img src="{{svgithub}}coin-car.svg">
        <img src="{{svgithub}}coin-bnb.svg">
        <img src="{{svgithub}}coin-bch.svg">
      </div>
    </div>
  </section>
</div>
