@import '../../../styles.scss';

button {
  width: max-content;
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  color: white;
  background: transparent;
  box-shadow: -1px 1px 0 0 white, 1px -1px 0 0 white, 0 0 0 1px white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    border-color: transparent;
    box-shadow: 0 0 2rem 1px #C3A6FC;
    text-shadow: -1rem 0 1rem #c3a6fc, 1rem 0 1rem #c3a6fc;
  }
}
