@import "../styles.scss";

div {
  display: grid;
  place-items: center;
  height: 100vh;
  background: $black-russian;

  h1 {
    color: transparent;
    background: $linear-btn;
    background-clip: text;
    font-size: 10vw;
  }
}
