// Color
$lavender: #DDDFFF;
$biloba-flower: #B588FF;
$dodger-blue: #35A6FC;
$electric-blue: #81FDF7;
$black-russian: #07041C;
$jagger: #422E53;
$white: #FFFFFF;
$white-glass: rgba(255, 255, 255, 0.3);
$linear-btn: linear-gradient(237.12deg, #FFCEA8 0%, #C3A6FC 50.52%, #80FEF7 100%);
$linear-bg: linear-gradient(180deg, #14102B 0%, #282349 100%);
