@import url("https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

// Color
$lavender: #DDDFFF;
$biloba-flower: #B588FF;
$dodger-blue: #35A6FC;
$electric-blue: #81FDF7;
$slime-girl: #00BB83;
$lilac-lotion: #FD387F;
$black-russian: #07041C;
$jagger: #422E53;
$white-glass: rgba(255, 255, 255, 0.3);
$linear-btn: linear-gradient(237.12deg, #FFCEA8 0%, #C3A6FC 50.52%, #80FEF7 100%);
$linear-bg: linear-gradient(180deg, #14102B 0%, #282349 100%);

// Variable
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$width: calc(100vw * 0.7);

// Reboot
* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  transition: 0.5s all;
}

a {
  display: block;
  text-decoration: none;
}
